module.exports = {
    commands: [
        {
            name: 'NOMBRE DEL COMANDO',
            description: 'DESCRIPCION DE LO QUE HACE EL COMANDO.',
            command: 'COMANDO (SIN TOKEN)',
            parameters: [
                {
                    name: 'NOMBRE DEL PARAMETRO',
                    descripcion: '',
                    sample: ''
                }
            ],
            priority: 0,
            exec: sentMsg => {

            }
        }
    ],
    reacts: []
}